$suoh: #973c3f;
$suoh-lighten: #973c3f1f;
$kompeki: #007bbb;
$kompeki-lighten: #007bbb1f;
$moegi: #aacf53;
$moegi-lighten: #aacf531f;

$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;
