$anton: "Anton", sans-serif;
$frederica: "Fredericka the Great", cursive;
$inconsolata: "Inconsolata", monospace;
$noto-sans: "Noto Sans", sans-serif;
$noto-sans-jp: "Noto Sans JP", sans-serif;
$noto-serif: "Noto Serif", serif;
$noto-serif-jp: "Noto Serif JP", serif;

$heading-1: 96px;
$heading-2: 60px;
$heading-3: 48px;
$heading-4: 34px;
$heading-5: 24px;
$heading-6: 20px;
$subtitle-1: 16px;
$subtitle-2: 14px;
$body-1: 16px;
$body-2: 14px;
$button: 14px;
$caption: 12px;
$overline: 10px;
