@use '../../../../css/color.scss' as color;

.highlight {
  padding: 0px 4px;
  border-radius: 4px;
}
.primary {
  color: color.$suoh;
  background-color: color.$suoh-lighten;
}
.secondary {
  color: color.$kompeki;
  background-color: color.$kompeki-lighten;
}
.tertiary {
  color: color.$moegi;
  background-color: color.$moegi-lighten;
}
