@use '../../../../css/color.scss' as color;
@use '../../../../css/font.scss' as font;

.header {
  display: grid;
  padding: 24px 24px;
  grid-template:
    'left center right'
    / 3fr 0fr 5fr;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px color.$suoh-lighten;
  font-family: font.$anton;
}
.left {
  grid-area: left;
  color: color.$suoh;
}
.center {
  grid-area: center;
}
.right {
  display: flex;
  justify-content: flex-end;
  grid-area: right;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.github-icon {
  height: 36px;
}
.youtube-icon {
  height: 24px;
}
.zenn-icon {
  height: 24px;
}
